.modalLanche {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalLanche-container {
    background-color: #FFF;
    width: 60%;
    height: 60%;
    border-radius: 20px;
}

.close {
    background-color: transparent;
    width: 32px;
    height: 32px;
    margin: 0 15px;
    cursor: pointer;
}

.close:before, .close:after{
    content: ' ';
    position: absolute;
    width: 2.5px;
    height: 24px;
    background-color: #000;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg)
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content h1 {
    margin-bottom: 20px !important;
}

.modalLanche-form {
    width: 45%;
    text-align: left;
}

label {
    font-size: 14px;
    font-weight: bold;
}

#name {
    margin-left: 5px;
    border: 1px solid #000;
    border-radius: 5px;
}

#name::placeholder {
    font-size: 14px;
}

#file::-webkit-file-upload-button {
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    font-size: bold;
}

#ingredientes {
    width: 150px;
}

.btn-salvar {
    background-color: #5dbea3;
    border: 1px solid #5dbea3;
    border-radius: 5px;
    color:#FFF;
    font-weight: bold;
    width: 100px;
    margin-bottom: 10px;
}